@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
body{
    background-color: #f3f7fb!important;
}
nav{
    background-color: rgb(3, 182, 182);
    padding: 5px 0%;
}


nav a  , .mobile_res a , nav h4{
    color: white;
    text-decoration: none;
}
nav a:hover , .mobile_res a:hover , nav h4:hover{
    color: rgb(214, 213, 213);
    cursor: pointer;
}
.menu_section a{
    color: black;
    text-decoration: none;
}
.menu_section a:hover{
    cursor: pointer;
    color: #24aeb1;
    font-weight: 600;
}
.Upper_section{
    display: flex;
    text-align: center;
    align-items: center;
    position: fixed;
    background-color: rgb(3, 182, 182);
    left: 0;
    right: 0;
    /* width: 100%; */
    top: 0;
    z-index: 100000;
}

.search_bar_section{
    width: 50%;
}

.logo_section  a > img {
    width: 80%;
}
.login_section{
    display: flex;
    width: 30%;
    padding: 2% 0%;
}
.logo_section{
    width: 15%;
}
.search_bar_section > label >  input {
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 160px;
}
.login_section > div {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 0.9em;
}
.login_section > div:last-of-type{
    width: 120%;
}


.input_box_label{
    position: relative;
}

.input_pin_code{
    border-right : 1.5px solid rgb(214, 213, 213);
    position: absolute;
    left: 0;
    padding: 4px 15px;
    padding-right: 10px;
    margin-top: 2%;
    color: grey;
    font-size: 13px;
}
.input_pin_code > b{
    color: #24aeb1;
}

.debounce_search{
    border-top: 1px solid #24aeb1;
    max-height: 260px;
    position: absolute;
    width: 76%;
    background-color: white;
    z-index: 999;
    border-radius: 0px 0px 5px 5px;
    right: 0;
    display: none;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}


#debounce_search_results::-webkit-scrollbar ,  body::-webkit-scrollbar {
	width: 5px;
}

#debounce_search_results::-webkit-scrollbar-track , body::-webkit-scrollbar-track {
	color: transparent;
}

#debounce_search_results::-webkit-scrollbar-thumb , body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: darkgrey;
	background-color:#24aeb1;
	outline: 1px solid slategrey;
}



#search_append{
    list-style: none;
    scrollbar-color: red green;
}
#search_append > li {
    font-size: 12px;
    padding: 9px;
    width: 100%;
    text-align: left;
}

#search_append > li:hover{
    background-color: #eee;
    color: #24aeb1;
    cursor: pointer;
}
/* ___________________________________________________________________________________________________
                             Navbar Category Section......
_____________________________________________________________________________________________________ */


.Lower_section{
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-top: 70px;
}
.Lower_section > div {
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: rgb(240, 237, 237);
    font-size: 17px;
    position: relative;
}
.Lower_section > div > img{
    width: 40px;
}
.down_arrow{
    width: 10%;
}

.cart_logo , .cart_logo2{
    position: relative;
}

#cart_items_count , #cart_items_count2{
    position: absolute;
    top: -30%;
    left:40%;
    font-weight: 900;
    background-color: red;
    color: white;
    width: 15px;
    border-radius: 50%;
}
#cart_count , #cart_count2{
    font-size: 12px;
    font-weight: bolder;
}

#cart_items_count2{
    top: -30%;
    left:20%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ___________________________________________________________________________________________________
                             Drop Down Menu Div Section......
_____________________________________________________________________________________________________ */


.hidden_div{
    z-index: 5;
    width: 150px;
    position: absolute;
    top: 70%;
    left: 100px;
    background-color: white;
    color: black;
    font-size: 13px;
    color: rgb(105, 105, 105);
    display: none;
}
.hidden_div > ul {
    background-color: rgb(249, 247, 247);
    list-style: none;
    width: 100%;
}
.hidden_div > ul > li  {
    padding: 10px;
}

.hidden_div a{
    color: rgb(105, 105, 105);
}

.testing:hover .hidden_div {
 display: block;
}
.second_hidden_box{
    width: 200px;
}
.hidden_div > ul > li:hover{
    background-color: white;
    color: #24aeb1;
    cursor: pointer;
}
.hidden_div > ul > li a:hover{
    color: #24aeb1;
}
.wellness_link{
    color: #f3f7fb;
}

/* ___________________________________________________________________________________________________
                              Menu List Section.......
_____________________________________________________________________________________________________ */

.menu_section{
    padding: 0% 7%;
}

.menu_section ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.menu_section > ul > li{
    font-size: 13px;
    line-height: 42px;
    font-weight: 400;
}

.menu_section > ul > li:hover{
    cursor: pointer;
    color: #24aeb1;
    font-weight: 600;
}

/* ___________________________________________________________________________________________________
                              Top Slider Section...............
_____________________________________________________________________________________________________ */
.slider_section{
    height: 320px;
    padding: 0% 1%;
    margin-top: 1%;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-button-next , .swiper-button-prev{
    color: #24aeb1;
}

.clr{
    background-color: rgb(3, 182, 182);
}
.mobile_res{
    display: none !important;
    
}

/* Media query For Tablets............................................................... */

@media (max-width:886px){
    .tab_res{
        display: none !important;
    }
    .search_bar_section{
        width: 40%;
    }
    
    .logo_section > img {
        width: 100%;
    }
    .login_section{
        display: flex;
        width: 30%;
        padding: 2% 0%;
    }
    .logo_section{
        width: 25%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .search_bar_section > label >  input {
        border-radius: 3px;
        padding-left: 10px;
    }
    
    .slider_section{
        height: 200px;
    }
    
    .debounce_search{
        width: 100%;
    }
    

}

/* Media query For Phones............................................................... */

@media (max-width: 480px){
    #nav{
        display: none !important;
    }

    .mobile_res{
        display: block !important;
    }
    .res_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        padding-right: 0px;
    }
    .res_nav > div:first-of-type{
        width: 30%;
    }

    .res_nav > div:last-of-type{
        width:60%;
        display: flex;
    }
    .res_nav > div:first-of-type img{
        width:100%;
    }

    .res_profile > div {
        display: flex;
        justify-content: flex-end;
    }
    .res_profile img {
        width: 20px;
        height: 20px;
    }

    .res_profile{
        display: flex;
        justify-content: space-around;
        color: white;
        cursor: pointer;
    }

.res_search_nav{
    padding-bottom: 2%;
}
.res_search_nav > label{
    width: 100%;
    display: flex;
    justify-content: center;
}

.res_search_nav input{
    width: 90%;
    padding: 10px;
    border-radius: 2px;
    outline: none;
    border: none;
}
.res_search{
    position: absolute;
    right: 5%;
    color: white;
    background-color: rgba(3, 182, 182, 0.695);
    padding: 8.5px 15px;
}
.res_cat_list{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}
.res_cat_list a {
    color: black;
    text-decoration: none;
    line-height: 25px;
}
.res_cat_list a:hover{
    color: #24aeb1;
}

.slider_section{
    height: 120px;
    padding: 0px 0px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: auto;
  }


}







